 /* Navigation bar code */
  /* For logo */
  .image-container {
    width: 50px; /* Adjust the width of the container */
    height: 50px; /* Adjust the height of the container */
    overflow: hidden; /* Ensures the image stays within the circular container */
    }
    .image-container img {
    width: 100%; /* Ensures the image fills the container */
    height: auto; /* Maintains the aspect ratio of the image */
    }
    /*Style for navigation bar*/
      nav {
        background-color: rgb(101, 235, 101);
        color: white; /* White text color */
        padding: 10px; /* Padding inside the navigation bar */
        position: fixed; /* Fix the navigation bar position */
        top: 0; /* Align to the top */
        left: 0; /* Align to the left */
        padding-right: 10px;
        height: fit-content;
        width: 100%; /* Spread navigation bar across the screen */
        display: flex; /* Use flexbox for layout */
        justify-content: space-between; /* Spread items evenly */
        align-items: center; /* Vertically center items */
    } 
    nav img{
        margin-left: 10px; /* To add some space between image and link*/
        height: auto;  /* To maintain aspect ratio*/
        width: 50px; /* Adjust width of the image*/
    }
     nav ul{
        list-style-type: none; /* Remove default Style */
        display: flex; /* Use flex for layout*/
        text-decoration: none;
     } 
    nav ul li{
        margin-right: 10px; /* Add spacing between item */
         text-decoration: none;
     }
     nav ul li a {
        color: Black; /* Black text color for link */
        text-decoration: none; /* To remove line from link */
        font-weight: bold; /* To make the text bold */
        padding: 10px 20px; /* Add padding to button */
        border: 1px solid black;
        border-radius: 5px; /* For rounded corners */
        transition: background-color 0.3s; /* Smooth transition on hover effect */
     }
     nav ul li a:hover {
        background-color: rgb(178, 240, 178); /*Darkens background color on hover */
        text-decoration: none;
        color: black;
     }
     .page {
        padding-left: 200px;
        padding-right: 200px;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     }
     /* Flower code */
     .flower {
        width: 200px;
        height: 100%;
        position: relative;
        animation: bloom 6s forwards;
        ;
    }

    @keyframes bloom {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
   